<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hey, <%= @user.name %></h1>
<p>
  There are <%= @ads_number %> new apartments for you
</p>
<% @search_link_with_ads.each do |link_name, ads| %>
    <h2><%= link_name %></h2>
    <% ads.each do |ad| %>
        <p>
          <%= link_to ad.title, ad.url, target: '_blank' %>
        </p>
    <% end %>
<% end %>

<p>Have a great day!</p>
</body>
</html>
