<h1>Stats</h1>
<p>Ads analysed: <strong><%= (Ad.count - Ad.new_ads.count) %></strong></p>
<p>Appointments: <strong><%= Appointment.count %></strong></p>
<p>Accepted: <strong><%= Ad.accepted.count %></strong></p>
