<nav class="navbar navbar-default">
<ul class="nav nav-pills">
    <li><%= link_to 'Ads', ads_path %> | </li>
    <li><%= link_to 'Sites', sites_path %> | </li>
    <li><%= link_to 'Districts', districts_path %></li>
</ul>
</nav>
